/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0;
  width: 100%;
}

.container{
  max-width: 1850px ;
  padding-right: 3px !important;
  padding-left: 3px !important;
  margin-right: none !important;
  margin-left: none !important;
}



/* .input-group {
  margin-bottom: 5px;
} */

.my-panel .mat-dialog-container {
  overflow: hidden;
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #8577B6;
  font-display: white;
}

.bg-primary{
  background-color: #143654 !important;
}

.window{
  min-width: 450px;
}