<app-loading *ngIf="solicitudComp.show"></app-loading
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>filter_1</mat-icon>
        Sol. de Pedido
      </ng-template>
     <app-solicitud></app-solicitud>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>filter_2</mat-icon>
        Sol. de Con. Int.
      </ng-template>
      <app-solconsumoint-edit></app-solconsumoint-edit>
    </mat-tab>
  
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>
  
      Content 3
    </mat-tab> -->
  </mat-tab-group>
