.selectmore{
    width: 450px !important;
}
.directions{
    margin-right: 250px;
}

.flex{
    display: flex;
    margin-left: 8px;
}

.moveDirections{
    padding-top: 0px;
    margin-top: -16px;
    margin-left: 10px;
    width: 350px !important;
}

.newdir{
    background-color: #2c6394;
    color: #ffffff;
}
